
body {
    font-family: Arial;
}

h1 {
    text-align: center;
}
h3 {
    text-align: center
}

h2 {
    text-align: left;
}

.item {
    display: flex;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.container {
    display: flex;
    max-width: 100%;
    height: auto;
    width: auto\9; 

}

.icon2:hover {
    filter: grayscale(50%) sepia(50%)
}

.icon:hover {
    stroke: #26a930;
    stroke-width: 10
}

.shapes {
    display: flex;
}

