
body {
    font-family: Arial;
}

h1 {
    text-align: center;
}
h3 {
    text-align: center
}

h2 {
    text-align: left;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;

}

.icon2:hover {
    filter: grayscale(50%) sepia(50%)
}

.icon:hover {
    stroke: #26a930;
    stroke-width: 10
}

.shapes {
    flex-grow: 1;
}